.container{
    margin:0 auto;  /* 화면 중앙에 배치 */
    width:1200px;    /* 너비 */    
    background-color: #fff;
  }
  .Header{
    width:100%;    /*  너비 */
    height:100px;   /* 높이 */ 
    background-color:blue;
  }
  .logo{
    float:left; /* 왼쪽으로 플로팅 */ 
    width:260px; /*  너비 */ 
    height:100px; /* 높이 */
    line-height:100px; /* 세로로 중간에 맞춤 - 줄간격을 높이 값과 같게 */
    padding-left:20px; /* 왼쪽에 여백 */
    background-color:cornflowerblue;
  }
  .logo h1{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size:50px;   /* 글자 크기 */
    color:#fff;   /* 글자 색*/
    margin: 0;
    margin-top: 10px;
    margin-left: 5px;
  }
  .Nav{
    float:right;
    width:900px;   /*   너비 */  
    height:100px;   /* 메뉴 영역 높이 */  
    padding-top:35px;  /* 메뉴를 아래로 내리기 위해 */
    padding-left: 700px;
  }
  .Nav a{
    margin-left: 90px;
    text-decoration: none;
    color: #fff;
    font-size: 20px;
    font-weight:600;  /* 글자 굵기 */
  }
 .mainH, .mainP{
    text-align: center;
    margin: 40px;
 }
 .Image{
    margin-left: 420px;
 }
 .Button{
    width:110px;
    height:50px;
    font-size:20px;
    background-color:cornflowerblue;
    border-color:cornflowerblue;
    border-radius: 15px;
    color: white;
    margin-top: 10px;
    margin-bottom: 50px;
    margin-left: 480px;
}
.Button2{
    width:110px;
    height:50px;
    font-size:20px;
    background-color:cornflowerblue;
    border-color:cornflowerblue;
    border-radius: 15px;
    color: white;
    margin-top: 10px;
    margin-bottom: 50px;
    margin-left: 20px;
}
