.container{
    margin:0 auto;  /* 화면 중앙에 배치 */
    width:1200px;    /* 너비 */    
    background-color: #fff;
}
.Header{
    background-color: gray;  
    height:50px;   /* 높이 */ 
}
.logo{
    margin-top:70px;
}
.logo p{
    font-size: 45px;
    text-align: center;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}
.inputBox, .SelectBox{
    margin-top: 10px;
    text-align: center;
}
.nameP, .idP, .pwdP, .telP, .typeP{
    font-size: 15px;
    margin-top: 30px;
    color:#666;
    font-weight: 30px;
    padding-left: 430px;
}
.name, .id, .pwd, .tel{
    border-radius: 10px;
    font-size: 15px;
    padding: 15px;
    width: 350px;
    height: 40px;
    border: 3px black solid;
}
.name:focus, .id:focus, .pwd:focus, .tel:focus{
    border-color: blue;
    outline: none;
}
.SelectList{
    border-radius: 10px;
    font-size: 15px;
    padding: 5px;
    width: 350px;
    height: 35px;
}
.Button{
    width:100px;
    height:50px;
    font-size:20px;
    background-color:dimgray;
    border-color:dimgray;
    border-radius: 15px;
    color: white;
    margin-top: 40px;
    margin-bottom: 50px;
    margin-left: 550px;
}